integrations/security-pentest-automation/pentest-workflow.json
{
  "name": "Security Pentest Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pentest-run",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook: Target Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "nmap -sV -oX - {{$json.body.target}}",
        "executables": "nmap",
        "options": {}
      },
      "name": "Nmap: Port Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "complete",
        "prompt": "Analyze the following nmap scan results and identify potential vulnerabilities:\n\n{{$json.output}}",
        "options": {}
      },
      "name": "AI: Analyze Vulnerabilities",
      "type": "@n8n/n8n-nodes-langchain.chatOpenAi",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "to": "={{$json.body.notify_email}}",
        "subject": "Pentest Report: {{$json.body.target}}",
        "body": "={{$json.message}}",
        "options": {}
      },
      "name": "Email: Send Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook: Target Input": { "main": [[{ "node": "Nmap: Port Scan", "type": "main", "index": 0 }]] },
    "Nmap: Port Scan": { "main": [[{ "node": "AI: Analyze Vulnerabilities", "type": "main", "index": 0 }]] },
    "AI: Analyze Vulnerabilities": { "main": [[{ "node": "Email: Send Report", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "id": "pentest-automation-workflow"
}
