workflows/github-ai-digest.json
{
  "name": "GitHub AI News Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cron",
              "expression": ["0", "1", "*", "*", "*"]
            }
          ]
        },
        "timezone": "Asia/Shanghai"
      },
      "id": "node-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories",
        "queryParameters": {
          "parameters": {
            "q": "topic:artificial-intelligence stars:>100 pushed:>={{$vars.since}}",
            "sort": "stars",
            "order": "desc",
            "per_page": 10
          }
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-fetch-trending",
      "name": "Fetch GitHub Trending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 300],
      "notes": "Fetches AI repos pushed recently. Set GITHUB_TOKEN env var for higher rate limits."
    },
    {
      "parameters": {
        "jsCode": "// Filter to top 5 by stars\nconst data = $input.all();\nconst items = data[0].json.items || data[0].json || [];\n\nconst top5 = items\n  .slice(0, 5)\n  .map((repo, i) => ({\n    rank: i + 1,\n    name: repo.full_name,\n    stars: repo.stargazers_count,\n    forks: repo.forks_count,\n    description: repo.description,\n    url: repo.html_url,\n    language: repo.language,\n    pushed: repo.pushed_at\n  }));\n\nreturn top5.map(item => ({ json: item }));"
      },
      "id": "node-filter-top5",
      "name": "Filter Top 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate Markdown digest\nconst repos = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nlet md = `# 🤖 AI/ML GitHub Trending — ${today}\\n\\n`;\nmd += `Top 5 AI repositories by stars.\\n\\n`;\n\nfor (const item of repos) {\n  const r = item.json;\n  md += `## ${r.rank}. ${r.name}\\n`;\n  md += `⭐ ${r.stars.toLocaleString()} · 🍴 ${r.forks.toLocaleString()}\\n\\n`;\n  md += `${r.description || '_No description_'}\\n\\n`;\n  md += `🔗 [View on GitHub](${r.url})\\n\\n`;\n  md += `---\\n\\n`;\n}\n\nmd += `\\n_Generated by agent-studio · ${new Date().toISOString()}_\\n`;\n\nreturn [{ json: { markdown: md, date: today, count: repos.length } }];"
      },
      "id": "node-generate-digest",
      "name": "Generate Markdown Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "filePath": "/root/agent-studio/daily-digest.md",
        "options": {}
      },
      "id": "node-save-file",
      "name": "Save to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1.1,
      "position": [900, 200],
      "notes": "Saves digest to file system. Adjust path as needed."
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook-test/lingxi-process",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "github_digest"
            },
            {
              "name": "date",
              "value": "={{$json.date}}"
            },
            {
              "name": "count",
              "value": "={{$json.count}}"
            },
            {
              "name": "markdown",
              "value": "={{$json.markdown}}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-webhook-notify",
      "name": "Notify via Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "notes": "Sends to n8n webhook for further processing (Telegram, email, etc.)"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Fetch GitHub Trending", "type": "main", "index": 0}]]
    },
    "Fetch GitHub Trending": {
      "main": [[{"node": "Filter Top 5", "type": "main", "index": 0}]]
    },
    "Filter Top 5": {
      "main": [[{"node": "Generate Markdown Digest", "type": "main", "index": 0}]]
    },
    "Generate Markdown Digest": {
      "main": [
        [{"node": "Save to File", "type": "main", "index": 0}],
        [{"node": "Notify via Webhook", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["ai", "github", "digest", "automation"],
  "meta": {
    "templateCredsSetup": false,
    "templateId": "github-ai-digest"
  }
}
