products/github-agent-automation/workflow.json
{
  "name": "AI Agent 社交媒体自动运营系统",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "⏰ 每日 09:00 触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories",
        "options": {
          "qs": {
            "q": "AI OR agent OR automation OR LLM in:name,description,readme pushed:>2024-01-01 stars:>100",
            "sort": "stars",
            "order": "desc",
            "per_page": 10
          },
          "timeout": 15000
        }
      },
      "id": "node-github-trending",
      "name": "📊 抓取 GitHub 热点",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst items = data.items || [];\nconst top5 = items.slice(0, 5).map((r, i) => ({\n  rank: i + 1,\n  name: r.full_name,\n  stars: r.stargazers_count,\n  desc: r.description,\n  url: r.html_url,\n  lang: r.language,\n  author: r.owner.login\n}));\nreturn [{ json: { title: 'GitHub AI Trending — ' + new Date().toLocaleDateString('zh-CN'), items: top5 } }];"
      },
      "id": "node-process-data",
      "name": "🔧 整理数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getAuthenticatedUser"
      },
      "id": "node-github-creds",
      "name": "🔑 GitHub 认证",
      "type": "n8n-nodes-base.githubApi",
      "typeVersion": 1,
      "position": [320, 480],
      "credentials": { "githubApi": { "id": "github-api", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "star",
        "repoOwner": "={{ $json.items[0].author }}",
        "repoName": "={{ $json.items[0].name.split('/')[1] }}"
      },
      "id": "node-star-repo",
      "name": "⭐ 自动 Star",
      "type": "n8n-nodes-base.githubApi",
      "typeVersion": 1,
      "position": [760, 300],
      "credentials": { "githubApi": { "id": "github-api", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "owner": "={{ $json.owner }}",
        "repository": "={{ $json.repo }}"
      },
      "id": "node-post-comment",
      "name": "💬 发评论/Issue",
      "type": "n8n-nodes-base.githubApi",
      "typeVersion": 1,
      "position": [760, 480],
      "credentials": { "githubApi": { "id": "github-api", "name": "GitHub API" } }
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook-test/lingxi-process",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            { "name": "report", "value": "={{ $json }}" }
          ]
        }
      },
      "id": "node-webhook",
      "name": "📡 推送 Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [980, 300]
    },
    {
      "parameters": {
        "to": "={{ $json.email || 'lingxi@openclaw.local' }}",
        "subject": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "id": "node-email",
      "name": "📧 发送邮件",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1.1,
      "position": [980, 480]
    }
  ],
  "connections": {
    "⏰ 每日 09:00 触发": {
      "main": [
        [{ "node": "📊 抓取 GitHub 热点", "type": "main", "index": 0 }]
      ]
    },
    "📊 抓取 GitHub 热点": {
      "main": [
        [{ "node": "🔧 整理数据", "type": "main", "index": 0 }]
      ]
    },
    "🔧 整理数据": {
      "main": [
        [{ "node": "⭐ 自动 Star", "type": "main", "index": 0 }],
        [{ "node": "📡 推送 Webhook", "type": "main", "index": 0 }]
      ]
    },
    "🔑 GitHub 认证": {
      "main": [
        [{ "node": "💬 发评论/Issue", "type": "main", "index": 0 }],
        [{ "node": "📧 发送邮件", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Shanghai"
  },
  "staticData": null,
  "tags": ["AI", "automation", "github", "social-media"],
  "meta": {
    "templateCredsSetupCompleted": true,
    "templateId": "github-agent-automation-v1"
  }
}
