integrations/webhook-automation/smart-router.json
{
  "name": "AI Smart Webhook Router",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "router", "responseMode": "responseNode" },
      "name": "Webhook Trigger", "type": "n8n-nodes-base.webhook", "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            { "role": "system", "content": "Classify this webhook event. Return JSON: { source, type, priority, summary }" }
          ]
        },
        "options": { "maxTokens": 200 }
      },
      "name": "AI Classifier", "type": "openai", "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "p1", "leftValue": "={{ $json.text }}", "rightValue": "high", "operation": "contains" },
            { "id": "p2", "leftValue": "={{ $json.text }}", "rightValue": "medium", "operation": "contains" }
          ],
          "combinator": "or"
        },
        "fallbackOutputs": ["low"]
      },
      "name": "Priority Switch", "type": "n8n-nodes-base.switch", "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "AI Classifier", "type": "main", "index": 0 }]] },
    "AI Classifier": { "main": [[{ "node": "Priority Switch", "type": "main", "index": 0 }]] }
  }
}
